In [5]:
class vehical:
    def __init__(self,cc,reg,p,col):
        self.engine=cc
        self.regplate=reg
        self.price=p
        self.colour=col
    

class car(vehical):
    def __init__(self,t,passenger,mx,cc,reg,p,col):
        self.type=t
        self.numberofpassenger=passenger
        self.maxspeed=mx
        super().__init__(mx,cc,reg,p,col)

class truck(vehical):
    def __init__(self,na,lc,cc,reg,p,col):
        self.noofaxle=na
        self.loadcapacity=lc
        super().__init__(cc,reg,p,col)

car1=car("punto",4,850,1000,76,564,"red")
truck1=truck(2,236,2000,45,48,"black")
print("car having",
      car1.type,car1.numberofpassenger,car1.maxspeed,car1.engine,car1.regplate,car1.price,car1.colour)
print("truck having",
      truck1.noofaxle,truck1.loadcapacity,truck1.engine,truck1.regplate,truck1.price,truck1.colour)

TypeError: vehical.__init__() takes 5 positional arguments but 6 were given

In [7]:
class employee:
    def __init__(self,i,n,s):
        self.id=i
        self.name=n
        self.salary=s

class staff_employee(employee):
    def __init__(self,w,p,i,n,s):
        self.worktype=w
        self.workpos=p
        super().__init__(i,n,s)

class developer_employee(employee):
    def __init__(self,m,t,e,i,n,s):
        self.module=m
        self.tech=t
        self.exp=e
        super().__init__(i,n,s)

s1=staff_employee("manager",'ceo',232,'rrr',6000)
print("staff employee having",s1.worktype,s1.workpos,s1.id,s1.name,s1.salary)
d1=developer_employee("qq","tt",2,121,'rrr',2000)
print("developer employee having",d1.module,d1.tech,d1.exp,d1.id,d1.name,d1.salary)

staff employee having manager ceo 232 rrr 6000
developer employee having qq tt 2 121 rrr 2000

In [20]:
rows=int(input("enter the number of rows"))
for i in range(0,rows):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

enter the number of rows 4

*
* *
* * *
* * * *

In [21]:
rows=int(input("enter the number of rows"))
for j in range(0,rows):
    for i in range(0,i+1):
        print("*",end=" ")
    print()

enter the number of rows 4

* * * *
* * * *
* * * *
* * * *

In [22]:
rows=int(input("enter the number of rows"))
for num in range(0,rows):
    for j in range (0,num):
        print(num,end=" ")
    print()

enter the number of rows 4

1
2 2
3 3 3

In [24]:
rows=int(input("enter the number of rows"))
for i in range (rows+1,0,-1):
    for j in range (0,i-1):
        print("*",end=" ")
    print()

enter the number of rows 6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
rows=int(input("enter the number of rows"))
for i in range (rows):
    for j in range (i,rows):
        print("*",end=" ")
    print()

enter the number of rows 6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
rows=int(input("enter the number of rows"))
for i in range (1,rows+1):
    for j in range (1,i+1):
        print(j,end=" ")
    print()

enter the number of rows 4

1
1 2
1 2 3
1 2 3 4

In [9]:
rows=int(input("enter the number of rows"))
for i in range (rows,0,-1):
    for j in range (0,i+1):
        print(j,end=" ")
    print()

enter the number of rows 4

0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [2]:
n=int(input())
for i in range(0,n):
    for j in range(i+1,n):
        print("*",end=" ")
    print()

 4

* * *
* *
*

In [3]:
#working on patterns
n=int(input())
for i in range(0,n):
    for j in range(0,n):
        print("*",end=" ")
    print()

 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

 3

*
* *
* * *

In [5]:
n=int(input())

for i in range(1, n+1):
    
    for j in range(n-i):
        print(" ", end=" ")
        

    for k in range(1, 2*i):
            print("*", end=" ")

    print()

 6

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [6]:
n=int(input())

for i in range(1, n+1):
    
    for j in range(n-i):
        print(" ", end=" ")
        

    for k in range(1, 2*i):
            print(i, end=" ")

    print()

 5

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [7]:
n=int(input())
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

 4

1
1 2
1 2 3

In [8]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")

    print()

 6

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [9]:
n=int(input())

for i in range(1, n+1):
    
    for j in range(n-i):
        print(" ", end=" ")
        

    for k in range(1,i+1):
            print("*", end=" ")

    print()

 5

        *
      * *
    * * *
  * * * *
* * * * *

In [10]:
n=int(input())

for i in range(n,0,-1):
    
    for j in range(n-i):
        print(" ", end=" ")
        

    for k in range(2*i-1):
            print("*", end=" ")

    print()

 4

* * * * * * *
  * * * * *
    * * *
      *

In [11]:
n = int(input("Enter the number of rows for the pattern: "))

for i in range(n):
    for j in range(i + 1):
        print((i + j) % 2, end=" ")
    print()

Enter the number of rows for the pattern:  4

0
1 0
0 1 0
1 0 1 0